{%  extends "igarden/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">

    <h1 class = "text-center">Flowers base</h1>
    <h4 class = "text-center">Here's a list of all currently stored flowers. If you want to learn something more about one of these - that's the right place!</h4>

    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-3">Choose from:</legend>
            {{ form|crispy }}
            <button type="submit" class="btn btn-info">Submit</button>
        </fieldset>
    </form>

</div>

{% endblock content %}