{%  extends "igarden/base.html" %}
{% block content %}
    <h1 class="home-welcome">Welcome to iGarden</h1>

    <article>
            <h2>Have you ever desired a ravishing flower which you would love to get, but have no idea what's its name?</h2>
            <p>
                Well, we have a solution this problem! IGarden is an one of a kind site, where you can find any flower you want. What is more, you don't need to know its name! All you need is faith, trust and ... a photo of the incredible plant you've been looking for (so there is even no need for you to have pixie dust)! Just upload the picture and let us do the rest - you will be provided not only with the flower's name, but also all the data you need about how to take care of it.
            </p>
            <h2>Could it be any better?</h2>
            <p>
                The answer is YES! Not only we provide you with the opportunity to finally find all the flowers you've been struggling to get, but also we come with more useful features. If you sign up and create your own account, you'll get even more benefits. You will be able to create a few lists, where you will be able to store all the date you want. For example, you may make a list of all the plants you have, and we will remind you about every time you should water them. Or, perhaps you would want to make a wishlist with all the plants you wnt to get? Sky is the limit!
            </p>
    </article>

{% endblock content %}