{% extends "igarden/base.html" %}
{% block content %}
<div class="content-section">
    <h2 class="text-center">Upload flower photo</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="d-inline-flex container p-3 mr-5">
            {{ form }}
            <button type="submit" class="btn btn-info">Upload photo</button>
        </div>
    </form>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
</div>
{% endblock content %}