{% extends "igarden/base.html" %}
{% block content %}
<div class="content-section">
    <form action="." method="POST"> {% csrf_token %}
        <h2 class="text-center mb-3">Are you sure you want to delete "{{ object.name }}" list?</h2>
        <p class="text-center">
            <button class="btn btn-danger" dtype="submit" value="Yes, I am">Yes, I am</button>
        </p>
    </form>
    <a href="{% url 'lists-all' %}" dtype="submit" class="btn btn-info">No, take me back to my lists!</a>
</div>
{% endblock content %}